@keyframes mainani {
	from {
		top: 28%;
	}
	to {
		top: 2%;
	}
}

@-webkit-keyframes mainani
/* Safari and Chrome */

{
	from {
		top: 28%;
	}
	to {
		top: 2%;
	}
}
@keyframes mainani2 {
	from {
		top: 2%;
	}
	to {
		top: 28%;
	}
}

@-webkit-keyframes mainani2
/* Safari and Chrome */

{
	from {
		top: 2%;
	}
	to {
		top: 28%;
	}
}