body {
	background-image: url(../img/bodyimg/body2.jpg)
}

.main {
	width: 44%;
	height: 44%;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 1.5em;
	position: absolute;
	top: 28%;
	left: 28%;
	text-align: center;
}

.main span {
	position: absolute;
	right: 20px;
	top: 3px;
	color: wheat;
	cursor: pointer;
}
#container1{
	animation:mainani 1s;
	-webkit-animation:mainani 1s;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode: forwards;
}
#container2{
	animation:mainani2 1s;
	-webkit-animation:mainani2 1s;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode: forwards;
}
.container{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.title {
	font-size: 23px;
	/*color: wheat;*/
	color: white;
	line-height: 8px;
}

.subtitle {
	font-size: 16px;
}

.list {
	margin: auto;
	width: 90%;
	height: 63%;
	text-align: left;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.list ul {
	height: 100%;
	margin: 0;
	padding: 0;
}

.list li {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #fff;
	height: 33.3%;
}

.list div {
	height: 35px;
	border-radius: 0.4em;
	background-color: rgba(0, 0, 0, 0.5);
	padding-left: 8px;
	position: relative;
	top: 25%;
}
/*.list div:hover{
	background-color: rgba(255, 255, 255, 0.5);
}*/

.list a {
	text-decoration: none;
	color: white;
	line-height: 33px;
	/*display: inline-block;*/
}
.contact{
	color: white;
	text-align: right;
	margin-right: 20px;
}
